<nb-layout>

  <nb-layout-header fixed>
    <h1>SpringMVC + AngularCLI</h1>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <!--<nb-layout-footer fixed>
  </nb-layout-footer>-->
</nb-layout>

<!--<nb-layout>

  <nb-layout-header fixed>
  &lt;!&ndash; Insert header here &ndash;&gt;
  </nb-layout-header>
  <nb-layout-column>
    &lt;!&ndash;<app-products></app-products>&ndash;&gt;
    <nb-layout>
      <nb-layout-header fixed>
        &lt;!&ndash; Insert header here &ndash;&gt;
      </nb-layout-header>
      <nb-layout-column>
        &lt;!&ndash;<app-product></app-product>&ndash;&gt;
        &lt;!&ndash;<div class="row" *ngFor="let hero of heroes">
          <div class="col"  >
            <p>{{hero}}</p>
          </div>
        </div>&ndash;&gt;
        &lt;!&ndash;<app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>&ndash;&gt;
        &lt;!&ndash;<app-product></app-product>&ndash;&gt;
        <router-outlet></router-outlet>
        &lt;!&ndash;<h1>kok</h1>
        <button nbButton outline fullWidth>kek</button>&ndash;&gt;
      </nb-layout-column>
      &lt;!&ndash;<nb-layout-column>
      </nb-layout-column>&ndash;&gt;
      <nb-layout-footer fixed>
        &lt;!&ndash; Insert footer here &ndash;&gt;
      </nb-layout-footer>
    </nb-layout>
  </nb-layout-column>
  <nb-layout-footer fixed>
  &lt;!&ndash; Insert footer here &ndash;&gt;
  </nb-layout-footer>
</nb-layout>-->
